
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');


body {
    background-image: url(Shimages/Shiba2.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    overflow: hidden;
}

body span {
    font-family: 'Rubik Bubbles';
    font-size: 3rem;
    position: relative;
    color:pink;
}

div {
    display:inline-block;
    position: relative;
    left: 25rem;
    padding: 1rem;
    font-family: 'Rubik Bubbles';
    font-size: 3rem;
    color: pink;
}

body span:hover {
    color: rgb(158, 60, 76);
    transition: 0.8s;
}

div:hover{
    color: rgb(158, 60, 76);
    transition: 0.8s;
}

h3{
    position:relative;
    left: 10rem;
    font-size: 3rem;
    color: rgb(180, 100, 113);
    font-family: 'Rubik Bubbles';
}