@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
body{ margin:0; 
    font-family:'Rubik Bubbles';
    background-image: url(img/Shiba.jpg);
}

nav {
  margin:0 auto;
  width:100%;
  height:auto;
  display:inline-block;
  background: pink;
}

nav ul {
  margin:0;padding:0;
  list-style-type:none;
  float:left;
  display:inline-block;
}

nav ul li {
  position:relative;
  margin:0 20px 0 0;
  float:left;
  display:inline-block;
}

li > a:after { content: ' >'; }

li > a:only-child:after { content: ''; }

nav ul li a {
  padding:20px;
  display:inline-block;
  color:white;
  text-decoration:none;
}

nav ul li a:hover {
  opacity:0.5;
}

nav ul li ul {
  display:none;
  position:absolute;
  left:0;
  background:pink;
  float:left;
}

nav ul li ul li {
  width:100%;
  border-bottom:1px solid pink;
}

nav ul li:hover ul {
  display:block;
}
